@media (max-width: 980px) {
    .container {
        max-width: 980px;
    }
    header #for-free {
        padding: 14px 26px;
    }
    .features .background-iphone__features .back-right-part__features {
        margin-left: 0;
    }
    .features .right-part-content__features .background-iphone__features {
        background-size: 80%;
    }
    .features .shape-back-iphone__features {
        background-image: url("../assets/images/Ellipse_6.png");
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-y: 0;
        background-position-x: 10px;
    }
}

@media (max-width: 898px) {
    .container {
        max-width: 840px;
    }
    .btn {
        padding: 15px 26px 15px 26px;
        border-radius: 30px;
        border: 2px solid var(--accent-color-one);
    }
    header {
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .awesome-apps .wrapper-main-content__awesome-apps {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        gap: 35px;
    }
    .awesome-apps .wrapper-companies-like__awesome-apps {
        gap: 30px;
    }
    .jackpots .wrapper-first__jackpots {
        gap: 80px;
    }
    .jackpots .wrapper-first__jackpots .text-item__jackpots {
        margin-right: 0;
    }
    .jackpots .wrapper-second__jackpots {
        margin-top: 50px;
        gap: 30px;
    }
    .jackpots {
        margin-top: 50px;
    }
    .awesome-apps .wrapper-advantages__awesome-apps {
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }
    .awesome-apps .left-part-advantages__awesome-apps {
        display: flex;
        flex-direction: column;
        gap: 112px;
    }
    .awesome-apps .container-background__awesome-apps {
        background-position-y: 0;
        margin-top: 50px;
    }
    .awesome-apps .right-part-advantages__awesome-apps {
        gap: 10px;
    }
    header .text-editor-choice {
        margin-top: 60px;
    }
    header #for-free {
        padding: 10px 14px;
    }
    header nav ul {
        gap: 12px;
    }
    header .wrapper-main-content__header .wrapper-buttons__header {
        margin-top: 60px;
        display: flex;
        gap: 60px;
    }
    .integration {
        margin-top: 50px;
    }
    .integration .wrapper__integration {
        gap: 50px;
    }
    .integration .wrapper__integration .title__integration h2 {
        margin-top: 30px;
        font-size: var(--section-titles);
        width: 100%;
        max-width: 349px;
    }
    .advantages .title__advantages {
        margin: 40px auto 0;
    }
    .advantages .wrapper-first-content__advantages {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    .features {
        margin-top: 100px;
    }
    .features .title-description__features h2 {
        margin: 0 auto;
        max-width: 600px;
    }
    .features .title-description__features p {
        margin: 0 auto;
        max-width: 650px;
    }
    .features .left-part-up-content__features {
        gap: 20px;
    }
    .features .left-part-down-content__features {
        gap: 20px;
    }
    .features .right-part-content__features #image-iphone-main__features {
        width: 105%;
    }
    .plan .subscribe-plans__plan {
        margin-top: 39px;
        display: flex;
        gap: 40px;
    }
    .download .container {
        padding: 0 30px;
    }
    .download .right-part__download img {
        margin: 200px auto 0;
        width: 100%;
        max-width: 844px;
        max-height: 472px;
    }
}

@media (max-width: 796px) {
    .container {
        max-width: 796px;
        padding: 0 20px;
    }
    header .wrapper-main-content__header .wrapper-buttons__header {
        margin-top: 60px;
        display: flex;
        gap: 30px;
    }
    .integration .wrapper__integration .title__integration h2 {
        margin-top: 10px;
        max-width: 450px;
    }
    .integration .wrapper__integration .text__integration p {
        margin-top: 10px;
        width: 100%;
        max-width: 450px;
    }
    .features {
        margin-top: 70px;
    }
    .features .wrapper-content__features {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .features .wrapper-left-part__features {
        width: 100%;
    }
    .features .right-part-content__features {
        width: 100%;
    }
    .features .right-part-content__features #image-iphone-main__features {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .features .button-see-all__features {
        text-align: center;
        margin: 40px auto;
    }
    .features .see-all {
        padding: 15px 60px 15px 60px;
        text-align: center;
    }
}

@media (max-width: 746px) {
    .container {
        max-width: 746px;
    }
    header nav ul {
        display: none;
    }
    header .wrapper-main-content__header {
        margin-top: 0;
    }
    header .wrapper-main-content__header .wrapper-buttons__header {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    header .wrapper-main-content__header .picture__header img {
        margin-top: 50px;
    }
    .integration .left-item__integration figure img {
        margin-top: 50px;
        width: 100%;
        max-width: 598px;
        max-height: 547px;
    }
    .plan {
        margin-top: 100px;
        padding-bottom: 100px;
    }
    .download {
        margin-top: 0;
    }
    .features .right-part-content__features {
        margin-top: 50px;
    }
}

@media (max-width: 718px) {
    .container {
        max-width: 718px;
    }
    .btn {
        padding: 15px 18px 15px 18px;
    }
    .awesome-apps .left-part-advantages__awesome-apps {
        display: flex;
        flex-direction: column;
        gap: 135px;
    }
    .awesome-apps .container-background__awesome-apps {
        background-position-y: 0;
        margin-top: 120px;
    }
    .awesome-apps .container-background__awesome-apps {
        background-size: 100%;
        background-position-y: 100px;
    }
    .download .title__download h2 {
        margin: 40px auto 0;
        font-size: 48px;
        text-align: left;
        line-height: 50px;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 600px;
    }
    header .container-logo-nav__header {
        display: flex;
        justify-content: center;

    }
    header .title-logo {
        font-size: var(--section-titles);
        text-align: center;
        margin: 0 auto;
        border-right: 2px solid #09142e;
        border-left: 2px solid #fcae61;
    }
    header .wrapper-main-content__header .picture__header img {
        margin-top: 120px;
    }
    header .text-editor-choice figure img {
        padding: 6px 6px;
        margin-top: 10px;
        margin-left: 10px;
    }
    header .text-editor-choice p {
        padding: 5px 40px 0 10px;
        text-align: center;
        margin-left: 20px;
    }
    .btn {
        padding: 8px 10px 8px 10px;
        font-size: 14px;
    }
    .awesome-apps .wrapper-main-content__awesome-apps {
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 35px;
    }
    .awesome-apps .wrapper-advantages__awesome-apps {
        margin-top: 20px;
        display: flex;
        gap: 60px;
        justify-content: center;
    }
    .awesome-apps .right-part-advantages__awesome-apps {
        gap: 70px;
    }
    .awesome-apps .wrapper-advantages__awesome-apps .one-item-advantages__awesome-apps h3 {
        font-size: var(--section-titles);
    }
    .awesome-apps .wrapper-advantages__awesome-apps .three-item-advantages__awesome-apps h3 {
        font-size: var(--section-titles);
    }
    .awesome-apps .wrapper-advantages__awesome-apps .two-item-advantages__awesome-apps h3 {
        font-size: var(--section-titles);
    }
    .awesome-apps .right-part-advantages__awesome-apps p {
        margin-top: 10px;
        width: 100%;
        max-width: 400px;
        font-size: 18px;
    }
    .awesome-apps .wrapper-main-content__awesome-apps .title__awesome-apps h2 {
        margin: 0 auto;
        text-align: center;
    }
    .awesome-apps .wrapper-main-content__awesome-apps .text__awesome-apps p {
        max-width: 370px;
        margin: 20px auto 20px;
    }
    .jackpots .wrapper-first__jackpots {
        gap: 1px;
    }
    .jackpots .wrapper-first__jackpots .title-item__jackpots h2 {
        text-align: center;
    }
    .jackpots .wrapper-first__jackpots .text-item__jackpots {
        margin-right: 0;
        border-left: none;
    }
    .jackpots .wrapper-first__jackpots .text-item__jackpots p {
        text-align: center;
        margin-top: 100px;
        padding-left: 20px;
    }
    .features .title-description__features h2 {
        margin: 0 auto;
        max-width: none;
        text-align: center;
    }
    .features .title-description__features p {
        margin: 0 auto;
        max-width: none;
        text-align: center;
    }
    .plan .monthly-business__plan {
        width: 100%;
    }
    .plan .monthly-master__plan {
        width: 100%;
    }
    .features .see-all {
        padding: 15px 150px;
        width: 100%;
        max-width: 600px;
        text-align: center;
    }
}

@media (max-width: 560px) {
    .container {
        max-width: 560px;
    }
}

@media (max-width: 428px) {
    .container {
        max-width: 428px;
    }
    header .text-editor-choice {
        margin: 40px auto;
    }
    header .wrapper-main-content__header .main-title__header {
        margin-top: 28px;
        text-align: center;
    }
    header .wrapper-main-content__header .main-title__header h1 {
        font-size: 36px;
        max-width: 600px;
        width: 100%;
        line-height: 50px;
    }
    header .wrapper-main-content__header .main-description__header p {
        width: 100%;
        max-width: none;
        text-align: center;
        opacity: var(--opacity-text);
        font-size: 18px;
    }
    header .wrapper-main-content__header .wrapper-buttons__header {
        margin-top: 30px;
        margin-bottom: 10px;
        justify-content: center;
        flex-direction: column;
    }
    .btn {
        text-align: center;
        padding: 20px 0;
        width: 100%;
        font-size: 18px;
    }
    header .wrapper-main-content__header .picture__header img {
        margin-top: 10px;
    }
    header .wrapper-main-content__header {
        flex-direction: column;
    }
    .awesome-apps .text-trusted__awesome-apps p {
        font-size: 24px;
    }
    .awesome-apps .wrapper-companies-like__awesome-apps {
        gap: 50px;
        flex-direction: column;
    }
    .awesome-apps .wrapper-companies-like__awesome-apps .item-companies img {
        width: 100%;
        min-width: 170px ;
    }
    .awesome-apps .container-background__awesome-apps {
        margin-top: 30px;
    }
    .awesome-apps .wrapper-advantages__awesome-apps {
        margin-top: 20px;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    .awesome-apps .wrapper-advantages__awesome-apps .one-item-advantages__awesome-apps h3 {
        font-size: var(--small-titles-size);
    }
    .awesome-apps .wrapper-advantages__awesome-apps .three-item-advantages__awesome-apps h3 {
        font-size: var(--small-titles-size);
    }
    .awesome-apps .wrapper-advantages__awesome-apps .two-item-advantages__awesome-apps h3 {
        font-size: var(--small-titles-size);
    }
    .awesome-apps .right-part-advantages__awesome-apps {
        gap: 20px;
    }
    .awesome-apps .left-part-advantages__awesome-apps {
        display: flex;
        flex-direction: column;
        gap: 110px;
    }
    .jackpots .wrapper-first__jackpots {
        flex-direction: column;
    }
    .jackpots .wrapper-first__jackpots .text-item__jackpots p {
        text-align: center;
        margin-top: 20px;
        width: 100%;
        max-width: 500px;
    }
    .jackpots .wrapper-second__jackpots {
        margin-top: 20px;
        gap: 20px;
        flex-direction: column;
        align-items: center;

    }
    .integration {
        margin-top: 10px;
    }
    .integration .wrapper__integration {
        gap: 50px;
        flex-direction: column;
    }
    .integration .learn-more__integration {
        padding: 20px 60px;
        margin: 40px auto;
        text-align: center;
        width: 100%;
    }
    .plan .subscribe-plans__plan {
        margin-top: 39px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .integration .right-item__integration {
        padding: 0 10px
    }
    .integration .wrapper__integration .title__integration h2 {
        margin-top: 10px;
        max-width: none;
        text-align: center;
    }
    .integration .wrapper__integration .text__integration p {
        margin-top: 10px;
        width: 100%;
        max-width: none;
        text-align: center;
    }
    .advantages .wrapper-first-content__advantages {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }
    .advantages .wrapper-second-content__advantages {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        justify-content: space-between;
        gap: 30px;
    }
    .download .wrapper__download {
        flex-direction: column;
    }
    .download .left-part__download {
        width: 100%;
    }
    .download .right-part__download {
        width: 100%;
    }
    .download .right-part__download img {
        margin: 0 auto;
        width: 100%;
        max-width: 844px;
        max-height: 472px;
    }
    .footer .links-services__footer ul {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .footer .logo__footer h2 {
        text-align: center;
        color: #fcae61;
        font-size: var(--logo-size);
        font-weight: 700;
        border-right: 2px solid #fcae61;
        border-left: 2px solid #e2eaed;
    }
}