
/* ===== Next Section of styles for RESET CSS ===== */

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

ul {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ================================================================ */

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'), local('Poppins-Bold'),
    url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Medium'), local('Poppins-Medium'),
    url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular'), local('Poppins-Regular'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
    url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/* ===== Here Should be section for fonts ===== */


/* ==== Variables CSS ===== */


:root {

    --accent-color-one: #2500f9;
    --logo-part-color: #fcae61;
    --color-small-titles: #f55767;
    --color-small-titles-two: #2563ff;
    --color-small-titles-three: #40975f;;

    --section-titles: 36px;
    --logo-size: 30px;
    --small-titles-size: 20px;
    --text-size: 16px;
    --main-title-font: 60px;

    --opacity-text: 0.6;
}

/* ===== Main Styles ===== */

.btn {
    color: #2500f9;
    padding: 20px 35px 20px 35px;
    border-radius: 30px;
    border: 2px solid var(--accent-color-one);
}
.btn:hover {
    background-color: var(--accent-color-one);
    color: white;
    padding: 20px 35px 20px 35px;
    border-radius: 30px;
    transition: 0.7s;
}

.container {
    width: 100%;
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
}

/* ===== ----------- ===== */

header {
    margin-top: 108px;

    padding-bottom: 108px;

}

header .background-container__header {
    background-image: url("../assets/images/background_header.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

header .background-container-second__header {
    background-image: url("../assets/images/Vector_Smart_Object.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: -180px;
    background-size: 100%;
    
}

header .container-logo-nav__header {
    width: 100%;
    max-width: 1280px;
    padding: 0 30px;
    margin: 0 auto;
}

header .title-logo {
    font-size: var(--logo-size);
    font-weight: 700;
}

header .title-logo span {
    color: var(--logo-part-color);
}

header .container-logo-nav__header {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 38px;
}

.header .wrapper-navigation__header {
    display: flex;
    justify-content: flex-end;
}

header #for-free {
    background-color: var(--accent-color-one);
    color: white;
    padding: 20px 50px;
    border-radius: 30px;
    margin-left: 30px;
}

header .wrapper-main-content__header {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

header .title-description__header {
    background-image: url("../assets/images/Layer_3.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 120%;
}

header .text-editor-choice {
    background-color: #e2eaed;
    width: 100%;
    max-width: 325px;
    border-radius: 48px;
}

header .text-editor-choice figure img {
    background-color: orange;
    border-radius: 50px;
    padding: 6px 6px
}

header .text-editor-choice {
    display: flex;
    margin-top: 220px;
}

header .text-editor-choice p {
    background-color: #e2eaed;
    border-radius: 50px;
    padding: 5px 40px 0 10px;
}

header .wrapper-main-content__header .main-title__header {
    margin-top: 28px;
}

header .wrapper-main-content__header .main-title__header h1 {
    font-size: var(--main-title-font);
    max-width: 600px;
    width: 100%;
    line-height: 75px;
}

header .wrapper-main-content__header .main-description__header {
    margin-top: 10px;
}

header .wrapper-main-content__header .main-description__header p {
    width: 100%;
    max-width: 520px;
    opacity: var(--opacity-text);
}

header .wrapper-main-content__header .wrapper-buttons__header {
    margin-top: 30px;
    display: flex;
    gap: 60px;
}

/*

header .wrapper-main-content__header .wrapper-buttons__header a {
    color: #2500f9;
    padding: 20px 35px 20px 35px;
    border-radius: 30px;
}

header .wrapper-main-content__header .wrapper-buttons__header a:hover {
    background-color: var(--accent-color-one);
    color: white;
    padding: 20px 35px 20px 35px;
    border-radius: 30px;
    transition: 0.7s;
}

*/

/* Styles for section awesome apps */

.awesome-apps .text-trusted__awesome-apps p {
    text-align: center;
    opacity: var(--opacity-text);
}

.awesome-apps .wrapper-companies-like__awesome-apps {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.awesome-apps .wrapper-main-content__awesome-apps {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.awesome-apps .part-left__awesome-apps {
    background-image: url("../assets/images/ellipse_two.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 0;
    background-position-y: 150px;
    background-size: 100%;
}

.awesome-apps .container-background__awesome-apps {
    background-image: url("../assets/images/ellipse_one.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 0;
    background-position-y: 300px;
}

.awesome-apps .container-background__awesome-apps figure {
    background-image: url("../assets/images/shape_random.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: -100px;
    background-position-y: 80px;
}

.awesome-apps .wrapper-main-content__awesome-apps .title__awesome-apps h2 {
    font-size: var(--section-titles);
    width: 100%;
    max-width: 300px;
}

.awesome-apps .wrapper-main-content__awesome-apps .text__awesome-apps p {
    font-size: var(--text-size);
    opacity: var(--opacity-text);
    width: 100%;
    max-width: 450px;
    margin-top: 20px;
}

.awesome-apps .wrapper-advantages__awesome-apps {
    margin-top: 92px;
    display: flex;
    gap: 40px;
}
.awesome-apps .left-part-advantages__awesome-apps {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.awesome-apps .left-part-advantages__awesome-apps .first-icon__awesome-apps img {
    margin-top: 25px;
}
.awesome-apps .left-part-advantages__awesome-apps .second-icon__awesome-apps {
    margin-top: -40px;
}
.awesome-apps .left-part-advantages__awesome-apps .third-icon__awesome-apps {
    margin-top: -40px;
}
.awesome-apps .left-part-advantages__awesome-apps .first-icon__awesome-apps {
    background-image: url("../assets/icons/speed_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding: 14px 12px;
}
.awesome-apps .left-part-advantages__awesome-apps .second-icon__awesome-apps {
    background-image: url("../assets/icons/prototyping_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding: 14px 12px;
}
.awesome-apps .left-part-advantages__awesome-apps .third-icon__awesome-apps {
    background-image: url("../assets/icons/vector_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding: 14px 12px;
}
.awesome-apps .right-part-advantages__awesome-apps {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.awesome-apps .right-part-advantages__awesome-apps p {
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
}

.awesome-apps .wrapper-advantages__awesome-apps .one-item-advantages__awesome-apps h3 {
    color: var(--color-small-titles);
}
.awesome-apps .wrapper-advantages__awesome-apps .two-item-advantages__awesome-apps h3 {
    color: var(--color-small-titles-two);
}
.awesome-apps .wrapper-advantages__awesome-apps .three-item-advantages__awesome-apps h3 {
    color: var(--color-small-titles-three);
}

/* Jackpots section */

.jackpots {
    margin-top: 150px;
}

.jackpots .wrapper-first__jackpots {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.jackpots .wrapper-first__jackpots .text-item__jackpots {
    border-left: 1px solid grey;
    margin-right: 80px;
}

.jackpots .wrapper-first__jackpots .title-item__jackpots h2 {
    font-size: var(--section-titles);
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.jackpots .wrapper-first__jackpots .text-item__jackpots p {
    width: 100%;
    max-width: 500px;
    text-align: left;
    margin-top: 50px;
    opacity: var(--opacity-text);
    padding-left: 100px;
}

.jackpots .wrapper-second__jackpots {
    margin-top: 129px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 120px;
}

.jackpots .title-second__jackpots {
    margin-top: 25px;
}

.jackpots .text-second__jackpots {
    margin-top: 15px;
}

.jackpots .text-second__jackpots p {
    opacity: var(--opacity-text);
    width: 100%;
    max-width: 450px;
}

.jackpots #title-one__jackpots {
    color: var(--color-small-titles)
}
.jackpots #title-two__jackpots {
    color: var(--color-small-titles-two);
}
.jackpots #title-three__jackpots {
    color: var(--color-small-titles-three);
}
.jackpots #background-icon-three__jackpots {
    background-image: url("../assets/icons/vector_background.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 15px 15px;
}
.jackpots #background-icon-two__jackpots {
    background-image: url("../assets/icons/prototyping_background.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 15px 15px;
}
.jackpots #background-icon-one__jackpots {
    background-image: url("../assets/icons/speed_background.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 15px 15px;
}
.jackpots #icon-bill {
    margin-left: 4px;
}

/* Integration */

.integration {
    margin-top: 100px;

}
.integration .wrapper__integration {
    display: flex;
    justify-content: center;
    gap: 111px;
}
.integration .left-item__integration figure img {
    width: 100%;
    max-width: 598px;
    max-height: 547px;
}

.integration .wrapper__integration .title__integration h2 {
    margin-top: 110px;
    font-size: var(--section-titles);
    width: 100%;
    max-width: 349px;
}
.integration .wrapper__integration .text__integration p {
    margin-top: 29px;
    width: 100%;
    max-width: 406px;
}
.integration .learn-more__integration {
    margin-top: 64px;
}

.integration .left-item__integration figure img {
    width: 100%;
    max-width: 598px;
    max-height: 547px;
}





/* Advantages */

.advantages {
    margin-top: 73px;
    border-top: 1px solid grey;
}

.advantages .title__advantages {
    margin: 140px auto 0;
    font-size: var(--small-titles-size);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.advantages .text__advantages {
    margin: 35px auto;
    font-size: var(--text-size);
    opacity: var(--opacity-text);
    text-align: center;
    width: 100%;
    max-width: 660px;
}

.advantages .wrapper-first-content__advantages {
    margin-top: 94px;
    display: flex;
    justify-content: space-between;
    gap: 92px;
}
.advantages .wrapper-first-content__advantages .background-one__advantages {
    background-image: url("../assets/icons/Ellipse_2_copy_3.png");
    background-repeat: no-repeat;
    background-position: center;
}
.advantages .wrapper-first-content__advantages .background-two__advantages {
    background-image: url("../assets/icons/Ellipse_2_copy_4.png");
    background-repeat: no-repeat;
    background-position: center;
}
.advantages .wrapper-first-content__advantages .background-three__advantages {
    background-image: url("../assets/icons/Ellipse_2_copy_5.png");
    background-repeat: no-repeat;
    background-position: center;
}
.advantages .wrapper-first-content__advantages figure img {
    margin: 0 auto;
    padding: 14px 14px;
}
.advantages .wrapper-first-content__advantages h3 {
    margin-top: 38px;
    text-align: center;
}
.advantages .wrapper-first-content__advantages p {
    margin-top: 15px;
    text-align: center;
}

.advantages .wrapper-second-content__advantages {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    gap: 92px;
}


.advantages .wrapper-second-content__advantages h3 {
    margin-top: 38px;
    text-align: center;
}
.advantages .wrapper-second-content__advantages p {
    margin-top: 15px;
    text-align: center;
}
.advantages .wrapper-second-content__advantages figure img {
    margin: 0 auto;
    padding: 14px 14px;
}

.advantages .wrapper-second-content__advantages .background-four__advantages {
    background-image: url("../assets/icons/back_icon_2.png");
    background-repeat: no-repeat;
    background-position: center;
}

.advantages .wrapper-second-content__advantages .background-five__advantages {
    background-image: url("../assets/icons/back_icon_3.png");
    background-repeat: no-repeat;
    background-position: center;
}
.advantages .wrapper-second-content__advantages .background-six__advantages {
    background-image: url("../assets/icons/back_icon_pink.png");
    background-repeat: no-repeat;
    background-position: center;
}


/* === Features === */

.features {
    margin-top: 180px;
}
.features .title-description__features h2 {
    font-size: var(--section-titles);
    width: 100%;
    max-width: 400px;
}
.features .title-description__features p {
    margin-top: 30px;
    width: 100%;
    max-width: 450px;
    font-size: var(--text-size);
    opacity: var(--opacity-text)
}

.features .wrapper-content__features {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.features .left-part-up-content__features {
    display: flex;
    gap: 107px;
}
.features .left-part-down-content__features {
    display: flex;
    gap: 107px;
}
.features .wrapper-content__features .back-icon-one__features {
    background-image: url("../assets/icons/Ellipse_2_copy_3.png");
    background-repeat: no-repeat;
    background-position: left;
}
.features .left-part-up-content__features figure img {
    padding: 16px 16px;
}

.features .left-part-up-content__features h3 {
    margin-top: 36px;
    text-align: left;
}

.features .left-part-up-content__features p {
    margin-top: 15px;
    text-align: left;
}
.features .wrapper-content__features .back-icon-two__features {
    background-image: url("../assets/icons/back_icon_2.png");
    background-repeat: no-repeat;
    background-position: left;
}

.features .left-part-down-content__features figure img {
    padding: 16px 16px;
}

.features .wrapper-content__features .back-icon-three__features {
    background-image: url("../assets/icons/back_icon_2.png");
    background-repeat: no-repeat;
    background-position: left;
}

.features .left-part-down-content__features h3 {
    margin-top: 36px;
    text-align: left;
}

.features .left-part-down-content__features p {
    margin-top: 15px;
    text-align: left;
}

.features .wrapper-content__features .back-icon-four__features {
    background-image: url("../assets/icons/back_icon_3.png");
    background-repeat: no-repeat;
    background-position: left;
}
.features .wrapper-content__features .left-part-down-content__features {
    margin-top: 60px;
}
.features .right-part-content__features #image-iphone-main__features {
    width: 100%;
    max-width: 461px;
}
.features .shape-back-iphone__features {
    background-image: url("../assets/images/Ellipse_6.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-y: 10px;
}
.features .right-part-content__features .background-iphone__features {
    background-image: url("../assets/images/back_smart_iphone.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -10px;
    background-size: 70%;
}
.features .wrapper-left-part__features {
    width: 50%;
}
.features .right-part-content__features {
    width: 50%;
}
.features .background-iphone__features .back-right-part__features {
    margin-left: 200px;
}
.features .button-see-all__features {
    margin-top: 50px;
}
.features .see-all {
    padding: 15px 60px 15px 60px;
}

/* Section .plan */

.plan {
    margin-top: 180px;
    padding-bottom: 100px;
}
.plan .title-description__plan h2 {
    font-size: var(--section-titles);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.plan .title-description__plan p {
    text-align: center;
    width: 100%;
    margin: 20px auto 0;
    max-width: 650px;
    font-size: var(--text-size);
    opacity: var(--opacity-text);
}

.plan .switch-button__plan {
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid #ebebeb;
    width: 100%;
    max-width: 280px;
    margin: 82px auto 0;
    border-radius: 29px;
    padding: 3px 3px;
}

.plan #annually__plan:hover,
.plan #monthly__plan:hover {
    background-color: var(--accent-color-one);
    color: #e2eaed;
    opacity: 0.99;
    border-radius: 24px;
}
.plan #monthly__plan,
.plan #annually__plan {
    background-color: transparent;
    color: black;
    border: none;
    opacity: var(--opacity-text);
    font-size: var(--text-size);
    padding: 15px 29px 15px 29px;
}

.plan .wrapper-card__plan {
    margin: 0 auto;
    background-color: #ffffff;
    background-image: url("../assets/images/Rectangle_5_copy_3.png");
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100%;
    max-width: 317px;
    max-height: 650px;
    border-radius: 9px;
    box-shadow: 4px 55px 62px rgba(144, 163, 177, 0.18);
    border: 1px solid transparent;
}
.plan .wrapper-card__plan:hover {
    border: 1px solid #bfbfbf;
    transition: 0.7s;
}
.plan .main-value__plan {
    padding-top: 69px;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
}
.plan .main-value__plan span {
    font-size: 18px;
    opacity: var(--opacity-text);
}

.plan .business-value__plan {
    margin: 0 auto;
    text-align: center;
    font-size: var(--small-titles-size);
}
.plan .for-description__plan {
    text-align: center;
    margin: 0 auto;
    opacity: var(--opacity-text);
}
.plan .drag-builder__plan {
    margin-top: 70px;
    text-align: center;
    opacity: var(--opacity-text);
}

.plan .templates-builder__plan {
    margin-top: 35px;
    text-align: center;
    opacity: var(--opacity-text);
}
.plan .button-container__plan {
    margin: 63px 0 18px;
    padding: 0 0 50px;
    text-align: center;
}
.plan .free-trial__plan {
    border: 2px solid var(--accent-color-one);
    padding: 13px 28px;
    border-radius: 28px;

}
.plan .free-trial__plan:hover {
    padding: 15px 30px;
    border-radius: 28px;
    color: white;
    background-color: var(--accent-color-one);
    transition: 0.6s;
}
.plan .subscribe-plans__plan {
    margin-top: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plan .monthly-business__plan {
    width: 35%;
}
.plan .monthly-master__plan {
    width: 35%;
}
.plan .button-container-free-trial__plan {
    padding: 19px 0 20px;
    text-align: center;
    width: 100%;
    max-height: 100px;


}
.plan .start-trial__plan {
    padding: 10px  26px;
    opacity: var(--opacity-text);
}

/* === Download Section ===*/

.download {
    margin-top: 100px;
    border-top: 1px solid #bfbfbf;
}
.download .container {
    padding: 0;
}
.download .wrapper__download {
    /*
    margin-top: 90px;
     */
    display: flex;
    justify-content: center;
}
.download .title__download h2 {
    text-align: left;
    margin: 80px auto 0;
    font-size: 48px;
}
.download .description__download p {
    text-align: left;
    margin: 10px auto 35px;
    font-size: var(--text-size);
    opacity: var(--opacity-text);
    width: 100%;
    max-width: 730px;
}
.download .wrapper-load-buttons__download {
    /*
    margin-top: 50px;
     */
}

.download .wrapper-load-buttons__download {
    margin-bottom: 50px;
    display: flex;
    gap: 32px;
    justify-content: flex-start;
}
.download .left-part__download {
    width: 50%;
}
.download .right-part__download {
    width: 50%;
}

.download .right-part__download img {
    margin: 100px auto;
    width: 100%;
    height: 100%;
    max-width: 844px;
    max-height: 472px;
}

/* === Footer === */

.footer {
    background-color: #09142e;
}
.footer .logo__footer {
    padding-top: 60px;
}
.footer .logo__footer h2 {
    text-align: center;
    color: #fcae61;
    font-size: var(--logo-size);
    font-weight: 700;
}
.footer .logo__footer h2 span {
    color: #e2eaed;
}
.footer .links-services__footer {
    margin-top: 30px;
}
.footer .links-services__footer ul {
    display: flex;
    justify-content: center;
    gap: 38px;
}
.footer .links-services__footer ul li a {
    color: #e2eaed;
}
.footer .links-services__footer ul li a:hover {
    color: #fcae61;
    transition: .5s;
}
.footer .icons-links__footer {
    margin-top: 50px;
}
.footer .icons-links__footer figure img {
    margin: 0 auto;
}
.footer .copyright__footer p {
    margin-top: 60px;
    text-align: center;
    color: #e2eaed;
    opacity: var(--opacity-text);
    font-size: 14px;
}
.footer .copyright__footer {
    padding-bottom: 60px;
}