
/* ===== Next Section of styles for RESET CSS ===== */

/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

ul {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ================================================================ */

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'), local('Poppins-Bold'),
    url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Medium'), local('Poppins-Medium'),
    url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular'), local('Poppins-Regular'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
    url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/* ===== Here Should be section for fonts ===== */


/* ==== Variables CSS ===== */


:root {

    --accent-color-one: #2500f9;
    --logo-part-color: #fcae61;

    --section-titles: 36px;
    --logo-size: 30px;
    --small-titles-size: 20px;
    --text-size: 16px;

}

/* ===== Main Styles ===== */

header {
    margin-top: 108px;
}

header .container-logo-nav__header {
    width: 100%;
    min-width: 1380px;
    padding: 0 210px;
}

header .title-logo {
    font-size: var(--logo-size);
    font-weight: 700;
}
header .title-logo span {
    color: var(--logo-part-color);
}
header .container-logo-nav__header {
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    gap: 38px;
}
.header .wrapper-navigation__header {
    display: flex;
    justify-content: flex-end;
}
header #for-free {
    background-color: var(--accent-color-one);
    color: white;
    padding: 20px 50px;
    border-radius: 30px;
    margin-left: 30px;
}

header .wrapper-main-content__header {
    display: flex;
}